<% provide(:title, 'About') %>

<p>Hello... I'm Rylee, a Ruby and Rails developer in training. You can find me online here:</p>
<ul>
	<li>LinkedIn: <a href="http://http://www.linkedin.com/in/ryleekeys" target="_blank">ryleekeys</a></li>
	<li>GitHub: <a href="https://github.com/unicornzero/" target="_blank">UnicornZero</a></li>
	<li>Twitter: <a href="http://twitter.com/ryleekeys" target="_blank">@ryleekeys</a></li>
</ul>

