<% provide(:title, 'About') %>

<p>I'm a Ruby on Rails developer in training. Though new to coding, I have years of experience in other roles in software companies.</p>
<p>I love unicorns, problem-solving, geekery, and cellos.</p>

<div class="offset1">
	<ul class="unstyled">
		<li><i class="icon-github icon-large"></i> &nbsp &nbsp  <a href="https://github.com/unicornzero/" target="_blank">UnicornZero</a></dd>
		<li><i class="icon-linkedin-sign icon-large"></i> &nbsp &nbsp  <a href="http://www.linkedin.com/in/ryleekeys" target="_blank">ryleekeys</a></dd>
		<li><i class="icon-twitter-sign icon-large"></i> &nbsp &nbsp  <a href="http://twitter.com/ryleekeys" target="_blank">@ryleekeys</a></dd>
	</ul>
</div>