<% provide(:title, 'About') %>
<div class="span12">
	<div class="span11">
		<h4>About Me</h4>
		<p>I'm a Ruby on Rails developer in training, located in Denver, Colorado. Though new to coding, I have years of experience in many other roles in software companies. I am known to be fond of unicorns, problem-solving, geekery, and cellos.</p>

		<div class="span10 offset1">
			<h5>Contact</h5></li>
			<ul class="unstyled">
				<li><i class="icon-github icon-large"></i> &nbsp&nbsp GitHub: <a href="https://github.com/unicornzero/" target="_blank">UnicornZero</a></li>
				<li><i class="icon-linkedin-sign icon-large"></i> &nbsp&nbsp LinkedIn: <a href="http://www.linkedin.com/in/ryleekeys" target="_blank">ryleekeys</a></li>
				<li><i class="icon-twitter icon-large"></i> &nbsp&nbsp Twitter: <a href="http://twitter.com/ryleekeys" target="_blank">@ryleekeys</a></li>
				<li><i class="icon-edit icon-large"></i> &nbsp&nbsp Email: <a href="mailto:rylee.k@gmail.com" target="_blank">rylee.k@gmail.com</a></li>				
			</ul>
			<br>
			<h5>Projects</h5></li>
			<ul class="unstyled">
				<li> &nbsp <i class="icon-rocket"></i> &nbsp <%= link_to "Micropost App", "http://sampleapp.unicornzero.com", target: "_blank" %>- User-authenticated social micropost app built using test driven development. Created with the Hartl Rails Tutorial. Create an account, follow other users, and post updates now!</li>
				<li> &nbsp <i class="icon-rocket"></i> &nbsp <%= link_to "UnicornZero", root_path, target: "_blank" %>- This responsively-designed website was built from scratch with Rails, Bootstrap, and related tools. It is hosted on a dedicated Ubuntu cloud server utilizing Apache and Passenger.</li>
				<li> &nbsp <i class="icon-rocket"></i> &nbsp <%= link_to "Suggestotron", "http://suggestotron.unicornzero.com/", target: "_blank" %>- Simple Rails app built using scaffolding during my first Railsbridge workshop.</li>
			</ul>
		</div>
