<% provide(:title, 'About') %>

<p>I'm a Ruby on Rails developer in training. Though new to coding, I've got years of experience in other roles in software companies.</p>
<p>I love unicorns, problem-solving, geekery, and cellos.</p>
<ul>
	<li>LinkedIn: <a href="http://www.linkedin.com/in/ryleekeys" target="_blank">ryleekeys</a></li>
	<li>GitHub: <a href="https://github.com/unicornzero/" target="_blank">UnicornZero</a></li>
	<li>Twitter: <a href="http://twitter.com/ryleekeys" target="_blank">@ryleekeys</a></li>
</ul>

