<div>
	<div class="span8 offset2">
	<%= image_tag "mock_rklogo.jpg" %>
	<%= image_tag "mock_painted.gif" %>
	<%= image_tag "mock_rkicons.jpg" %>
	<%= image_tag "mock_jasonlogo.jpg" %>

</div>
<p> test...</p>