<div class="container"><%= render "layouts/studygroupheader" %></div>

<p>Are you learning Ruby and looking for other women to study with? Do you have a project you'd like to collaborate on? Are you just beginning your Ruby journey and would like some help getting started? ...Join us!!</p>

<p>Bring something you're working on, whether it's an app, a tutorial, your current book, or questions. This will be an inclusive work session where we can spend some time upgrading our own skills and helping each other build theirs. From experts to beginners, all are welcome.</p>

<p>Study group #2 is scheduled for... Thursday, June 27th at 6:30pm</p><br>

<p>For more info and to RSVP, see our event on the Boulder/Denver Women Who Code Meetup group: 
	<%= link_to "June's event page", "http://www.meetup.com/Women-Who-Code-Boulder-Denver/events/122702282/", target: "_blank" %>.</p>
