<% provide(:title, 'Ruby Study Group') %>

<div class="span12">
	<div class="span9 offset1">
		<%= image_tag("rsg_head_1.gif") %>
	</div>
</div>

<div class="span8 offset2">
	<p>Are you learning Ruby and looking for other women to study with? Do you have a project you'd like to collaborate on? Are you just beginning your Ruby journey and would like some help getting started? ...Join us!!</p>

  <p>Schedule for July 31, 2013:</p>

  <p><ul class="unstyled" style="text-indent: 30px">
    <li>6:30-7:00 Sign-in, grab food, setup workspace, mingle </li>
    <li>00-7:30 Rails Best Practices- Desi McAdam- Managing Director at Thoughtbot</li> 
    <li>7:15-7:30 Ruby project presentations by three gSchool Graduates: Erin Drummond, Jennifer Eliuk, and Laura Steadman</li>
    <li>7:30-8:30 Focused individual project time, assistance available</li>
  </ul></p>

	<p><strong>For more info and to RSVP, visit <%= link_to "July's event page", "http://www.meetup.com/Women-Who-Code-Boulder-Denver/events/127761712/", target: "_blank" %>.</strong> <br>
    If you have any questions, please email Rylee at <a href="mailto:rylee.k@gmail.com" target="_blank">rylee.k@gmail.com</a></p>

  <br>

</div>