<% provide(:title, 'Ruby Study Group') %>

<div class="span12">
	<div class="span9 offset1">
		<%= image_tag("rsg_head_1.gif") %>
	</div>
</div>

<div class="span8 offset2">
	<p>Are you learning Ruby and looking for other women to study with? Do you have a project you'd like to collaborate on? Are you just beginning your Ruby journey and would like some help getting started? ...Join us!!</p>

  <p>Next meetup is Monday, September 23rd, 2013 at 6pm.</p>


	<p><strong>For more info and to RSVP, visit <%= link_to "September's event page", "http://www.meetup.com/Women-Who-Code-Boulder-Denver/events/137513962/", target: "_blank" %>.</strong> <br><br>
    If you have any questions, please email Rylee at <a href="mailto:rylee.k@gmail.com" target="_blank">rylee.k@gmail.com</a></p>


</div>