<p>&nbsp</p>
<div class="span7 offset2">
	<h4>Are you a woman near Denver, Colorado? Join our...</h4>
	<div class="span6 offset1">
		<%= link_to image_tag("rsg_head_1.gif"), rubygroup_path %>
	</div>
</div>