<div class="container">
	<div class="span8 offset1">
		<div class="text-left span2"><%= image_tag("rubyrails_icon_med.png") %></div>
		<div class="text-right span6">
			<p>&nbsp</p>
			<h2>Denver Women's</h2>
			<h1>Ruby Study Group</h1>
		</div>
	</div>
</div>
