<div class="media">
	<a class="pull-left" href="<%= rubygroup_path %>">
		<%= image_tag('rubyrails_icon_med.png', class: "media-object span3") %></img>
	</a>
	<div class="media-body">
		<p>&nbsp</p>
		<h3 class="media-heading">Denver Women's</h3>
		<h1 class="media-heading">Ruby Study Group</h1>
		
	</div>
</div>