<div class="media">
	<a class="pull-left" href="<%= rubygroup_path %>">
		<img class="media-object" data-src="<%= image_tag("ruby_logo_large.png") %>">
	</a>
	<div class="media-body">
		<h4 class="media-heading">Denver Women's Ruby Study Group</h4>
		<p> Click for info. </p>
	</div>
</div>